body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Berkshire Swash', cursive;
    color: #DBE5EB;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: hpfont;
    background-color: #000000;
    color: #DBE5EB;
}

.title {
    padding-bottom: 0px;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.headertext {
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    background-image: url("images/orion-g008e59802_1920_964x544.jpg");
}

.choices {
    display: flex;
    gap: 75px;
    padding-top: 8px;
}

.scorecard {
    display: flex;
    gap: 55px;
    margin-top: 36px;
    margin-bottom: 10px;
}

.you, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.narative {
    display: flex;
    flex-direction: column;
}

.round {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 6px;
    font-family: hpfont;
    height: 30px;
    font-size: 20px;
}

.btn1, .btn2, .btn3 {
    padding: 20px;
    border: none;
    background-color: transparent;
    color: #DBE5EB;
}

.legend {
    font-size: 20px;
}

.legend > p {
    margin-top: 0px;
}

.btn1_cnt > p, .btn2_cnt > p, .btn3_cnt > p {
    display: flex;
    justify-content: center;
}

.narative {
    border-color: #172D3B;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid;
    border-radius: 8px;
    margin-bottom: 25px;
    min-width: 200px;
}

.inter {
    display: flex;
    align-items: center;
}

.weapon-icon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition: all .3s;
}

.btn1:hover {
    color: #af84db !important;
}

.btn2:hover {
    color: #99CCFF !important;
}

.btn3:hover {
    color: #FBBF77 !important;
}

.confundo {
    color: #af84db;
}

.expecto {
    color: #99CCFF;
}

.petrificus {
    color: #FBBF77 ;
}

@font-face {
    font-family: hpfont;
    src: url(fonts/HarryP-MVZ6w.ttf);
}
