body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Berkshire Swash', cursive;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alex Brush', cursive;
    background-color: #11202A;
    color: #F5F5DC;
}

.title {
    padding-bottom: 0px;
    font-size: 55px;
}

.headertext {
    padding-top: 0;
    margin-top: 0px;
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    /*background-image: url("images/orion-g008e59802_1920.jpg");*/
}

.choices {
    display: flex;
    gap: 75px;
    padding-top: 20px;
}

.scorecard {
    display: flex;
    gap: 70px;
}

.you, .computer {
    display: flex;
    flex-direction: column;
}

.narative {
    display: flex;
    flex-direction: column;
}

.round {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172D3B;
    padding: 6px;
    color: aliceblue;
}

.btn1, .btn2, .btn3 {
    padding: 55px;
}