body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Berkshire Swash', cursive;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alex Brush', cursive;
    background-color: #11202A;
    color: #F5F5DC;
}

.title {
    padding-bottom: 0px;
    font-size: 50px;
}

.headertext {
    padding-top: 0;
    margin-top: 0px;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    /*background-image: url("images/orion-g008e59802_1920.jpg");*/
}

.choices {
    display: flex;
    gap: 75px;
    padding-top: 20px;
}

.scorecard {
    display: flex;
    gap: 55px;
}

.you, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.narative {
    display: flex;
    flex-direction: column;
}

.round {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172D3B;
    padding: 6px;
    color: aliceblue;
    font-family: 'Alex Brush', cursive;
}

.btn1, .btn2, .btn3 {
    padding: 20px;
    border: none;
    background-color: transparent;
}

.legend {
    font-size: 20px;
}

.btn1_cnt > p, .btn2_cnt > p, .btn3_cnt > p {
    display: flex;
    justify-content: center;
}

.narative {
    border-color: #172D3B;
    padding-left: 30px;
    padding-right: 30px;
    border: solid;
    margin-bottom: 25px;
    min-width: 200px;
}

.inter {
    display: flex;
    align-items: center;
}

.weapon-icon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition: all .3s;
  }

.confundo {
    color: #A020F0;
}

.expecto {
    color: #99CCFF;
}

.petrificus {
    color: #696969;
}

